<div class="container">
  <div class="row">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="First Name">
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
    </div>

    <div class="mb-3">
      <label for="docNumber" class="form-label">Doc Number</label>
      <input type="text" class="form-control" id="docNumber" placeholder="Doc Number">
    </div>

    <div class="mb-3">
      <label for="position" class="form-label">Position</label>
      <select class="form-select">
        <option value="1">Valor 1</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="position" class="form-label">Phones</label>
      <input type="text" class="form-control" id="phone" placeholder="00 000000000">

      <ul class="list-group mt-3">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>

  </div>
</div>
