<div class="container">
  <div class="row">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" [(ngModel)]="model.firstName" class="form-control" id="firstName" placeholder="First Name">
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" [(ngModel)]="model.lastName" class="form-control" id="lastName" placeholder="Last Name">
    </div>

    <div class="mb-3">
      <label for="dateOfBirth" class="form-label">Date Of Birth</label>
      <input type="date" [(ngModel)]="model.dateOfBirth2" class="form-control" id="dateOfBirth">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" [(ngModel)]="model.email" class="form-control" id="email" placeholder="email">
    </div>

    <div class="mb-3">
      <label for="docNumber" class="form-label">Doc Number</label>
      <input type="text" [(ngModel)]="model.docNumber" disabled="disabled" class="form-control" id="docNumber" placeholder="Doc Number">
    </div>

    <div class="mb-3">
      <label for="position" class="form-label">Position</label>
      <select [(ngModel)]="model.positionEmployeeId" class="form-select">
        <option *ngFor="let position of positions;" value="{{position.id}}">{{position.name}}</option>
      </select>
    </div>

    <!-- <div class="mb-3">
      <label for="position" class="form-label">Phones</label>
      <input [(ngModel)]="phoneNumber" type="text" class="form-control" id="phone" placeholder="00 000000000">

      <button value="Add Phone" (click)="addPhone()">Add Phone</button>
      <ul class="list-group mt-3">
        <li *ngFor="let indexPhone of phones;" class="list-group-item">{{indexPhone}}</li>
      </ul>
    </div> -->
  </div>

  <div class="mb-3">
    <button class="btn btn-primary" (click)="update()">Salver</button>
  </div>
</div>
